<h4>Promedio de Bancos del sistemat</h4>
<h2>Del ultimo año</h2>




<div class="text-center">

  <select class="form-control" (ngModelChange)="changedvalue()"  name="priority" [(ngModel)]="selectedbank"  required>
    <option *ngFor="let list of priorityList" [value]="list.label">
      {{list.label}}
    </option>
</select>

<button type="button" (click)="Graficar()"  class="btn btn-success">Graficar</button>


</div>

<lbd-chart
[title]="'Promedio de Ranking Bancario'"
[subtitle]="'24 Hours performance'"
[chartType]="hoursChartType"
[chartData]="hoursChartData"
[chartOptions]="hoursChartOptions"
[chartResponsive]="hoursChartResponsive"
[legendItems]="hoursChartLegendItems"
[withHr]="true"
[footerIconClass]="'fa fa-history'"
[footerText]="'Updated 3 minutes ago'">
</lbd-chart>
