.text-four{
    color:rgb(98, 65, 158) !important;
  }

  .aline{
  margin-left: 15px!important;
  /* font-size: 16px; */
  }

   
        
        .ct-chart{
          width:1015px!important;
          /* font-size: 16px!important;; */
          }


          .uno{
            background-color:#33F0FF;
            color:black;
            /* font-size: 16px!important;; */
            }
            .dos{
              background-color:#CF0833;
              color:white;
              /* font-size: 16px!important;; */
              }


              .tres{
                background-color:#EC890C;
                color:black;
                /* font-size: 16px!important;; */
                }
                .t4{
                  background-color:#940CEC;
                  color:white;
                  }

                  .t5{
                    background-color:#7BAE36;
                    color:black;
                    /* font-size: 16px!important;; */
                    }
                    .t6{
                      background-color:#2B80C3;
                      color:white;
                      /* font-size: 16px!important;; */
                      }

                      .t7{
                        background-color:#4E5459;
                        color:white;
                        }
                        .t8{
                          background-color:#B51A0D;
                          color:white;
                          }

                          .t9{
                            background-color:#112345;
                            color:white;
                            }
                            .t10{
                              background-color:#BD1D00;
                              color:white;
                              }

                              .t11{
                                background-color:#6BC4CA;
                                color:blue;
                                }
                                .t12{
                                  background-color:#D62E47;
                                  color:white;
                                  }

                                  .t13{
                                    background-color:#2E4FD6;
                                    color:white;
                                    }
                                    .t14{
                                      background-color:#8DA1F3;
                                      color:black;
                                      }
                                      .t15{
                                        background-color:#AC34FE;
                                        color:white;
                                        } .t16{
                                          background-color:#2E2C2E;
                                          color:white;
                                          }                                             

              
